.App {
  text-align: center;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 16px;
}

.navLinks {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: flex-end;
  padding-right: 32px;
}

.active {
  color: red;
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  margin: 16px;
}

.container-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 16px;
  align-items: flex-end;
  margin: 16px;
}

.header {
  margin: 16px;
}

.itemContainer {
  display: flex;
  flex-direction: column;
  width: 150px;
  border: 1px solid black;
}

.itemContainer > h4, p {
  margin: 16px;
}

.item {
  width: 75px;
  height: 50px;
  align-self: center;
}

.checkoutButton {
  margin: 16px;
}