.App {
  text-align: center;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 16px;
}

.navLinks {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: flex-end;
  padding-right: 32px;
}

.active {
  color: red;
  font-weight: bold;
}

.pageContainer {
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  margin: 16px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  margin: 16px;
}

.container-nowrap {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin: 16px;
  align-items: center;
}

.container-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 16px;
  align-items: flex-start;
  margin: 16px;
}

.container-column > p {
  margin: 0;
}

.header {
  margin: 16px;
}

.itemContainer {
  display: flex;
  flex-direction: column;
  width: 150px;
  border: 1px solid black;
}

.itemContainer > h4, p {
  margin: 16px;
}

.item {
  width: 75px;
  height: 50px;
  align-self: center;
}

.checkoutButton {
  margin: 16px;
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
}

.counter > button {
  cursor: pointer;
  padding: 0 3px;
  width: 25px;
}

.subtotal {
  width: 85vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 16px;
  align-items: flex-end;
  margin: 16px;
}

.subtotal > p {
  margin: 0 16px;
}

.subtotal > a {
  margin: 0 16px;
}